:root {
    --backgroundcolor: rgb(175, 175, 175);
    --primary-color: #007BFF;
    --secondary-color: #555;
    --text-color: #222;
    --light-bg: white;
    
  }

* {
    background-color:var(--backgroundcolor);
    font-family: "Roboto", sans-serif;
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 600px) {

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 768px) {

}
 

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {]

    body{
        min-width: 50vh;
        height: fit-content;
       }

    .headerclass{
        width: 75%;
        margin: 0 auto;
    }

    .navigation{
        display: flex;
        justify-content: space-between;
        width: 50%;
        margin: 0 auto;
        
        button{
            padding: 1.5rem;
            
            background: var(--secondary-color);
        }
    }

    .navigation button:hover{
        background-color: var(--primary-color);

    }
    .homebutton{
        scale: 0.1;
        background-color:#592941;
    }
    .mainclass{
        width: 75%;
        margin: 0 auto;
        height: 80dvh;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

    }
    
    .aboutmeclass{
        display: flex;
        justify-content: space-evenly;
        align-items:center;
        margin: inherit;
        height: 40dvh;
        p{
            width: 81%;
        }
        
    }
    
    table{
        border-collapse: collapse;
        margin-top: 15px;
        text-align: center; /* Centers text inside all table cells */
    }
    
    /* Add spacing inside headers and data cells */
    th, td {
        padding: 12px 20px; /* Adds space inside each cell */
        border: 1px solid #ccc; /* Adds simple borders */
    }
    
    /* Center text in headers */
    th {
        background-color: #007BFF;
        color: black;
    }
    
    /* Space out rows */
    tr {
        height: 50px;
    }

    #experience{
        display: flex;
        flex-direction: column;
    }

    .profilepicture{
        height: 15rem;
        display: flex;
    }

    section{
        border: 1px solid black;
        h2{
            width: 97%;
            margin: auto;
        }
    }

   

  

}

